[package]
name = "launcher"
version.workspace = true
edition.workspace = true
license.workspace = true
description = "Built-in app launcher for Fri3d Badge"

[lib]
crate-type = ["cdylib"]

[dependencies]
fri3d-sdk = { workspace = true }

